
.container {display: flex;max-width: 1170px;width: 100%; margin: auto;justify-content: stretch;align-items: center;}
body {font-family: Arial; color: #616161;}
/*HEADER*/
header .container {height:130px;}

header .container .logo {width: 145px;display: flex;justify-content: center; align-items: center;}
header .container .logo a {display: block; width: 127px; height: 73px;}

header .container .menu {display: flex;flex-flow: column;flex-wrap: wrap;width: 405px;}
header .container .menu .menu1 {display: flex;padding: 0;margin-top: 33px; margin-bottom: 0px; margin-left: 25px}
header .container .menu .menu2 {display: flex;padding: 0;margin-top: 10px;margin-bottom: 25px; margin-left: 25px}
header .container .menu .menu1 li {display: inline-block;margin-right: 12px}
header .container .menu .menu1 li a {display: block;line-height: 20px;font-size: 12px;font-weight: 800; text-decoration: none;}
header .container .menu .menu2 li {display: inline-block; margin-right: 20px}
header .container .menu .menu2 li a {display: block;line-height: 20px;font-size: 13px;text-decoration: none;}

header .container .region {width: 160px;display: flex; justify-content: center;}
header .container .region p {font-size: 12px; margin-top:20px;margin-right: 10px;padding-left: 5px;}
header .container .region select {border: none;-webkit-appearance: none;-moz-appearance: none;appearance: none; margin-top: 10px;margin-left: 4px; font-size: 14px; font-weight: bold;}

header .container .phone {width: 158px;display: flex; justify-content: center;}
header .container .phone p {display: block;min-width: 120px; font-weight: 800; font-size: 16px; margin-top: 25px;}

header .container .btn {width: 300px;height: 50px;display: flex;align-items: flex-end;}
header .container .btn #callback {background-color: #0090ff; width: 160px; height: 40px;margin-left: 2px; margin-right: 10px;border-radius: 5px;color: white; font-size: 14px; border: none;}
header .container .btn #basket {background-color: #0090ff; width: 120px; height: 40px; border-radius: 5px;color: white;font-size: 14px;border: none;}
header .container .btn #basket img {margin-right: 10px;margin-left: 5px;}
header .container .btn #basket img:first-child {float: right; margin-top: -20px; margin-right: -20px;}
header #callback:hover, #basket:hover {cursor: pointer;}

/*SLIDER*/
#home_slider {background-image:url('../img/Slider.jpg');}
#home_slider .container {display: flex;	max-width: 1170px;height: 500px;}
#home_slider .container .button_catalog {display: flex;	flex-flow: column;justify-content: center;align-items: flex-start; margin-left: 125px; margin-top: -30px;}
#home_slider .container .button_catalog #catalog {background-color: #f6b53f;width: 150px;height: 40px;border-radius: 6px;color: white; font-size: 14px; border: none;}
#home_slider .container .button_catalog p {font-size: 26px;font-weight: bold;color: white; margin-top: -10px;}

/*RETURN AND CONTROL*/
#product {margin-top: -60px;}
#product .container {min-height: 100px; display: flex;flex-wrap: wrap; justify-content: space-around; align-items: center;background-color: white; z-index: 10;box-shadow: 0 14px 28px rgba(0,0,0,0.05), 0 10px 10px rgba(0,0,0,0.05)}
#product .container div { display: flex;justify-content: center;align-items: center;width: 20%; z-index: 10;}
#product .container div .img {display: flex; min-width: 47px; min-height: 47px;background-repeat: no-repeat;background-position: center;}
#product .container p {font-size: 11px;margin-left: 10px;line-height: 1.5;}
#product .container span {font-size: 14px;font-weight: bold;}


/*POPULAR ITEMS*/
#popular_items .container { min-height: 1150px; display: flex; flex-flow: column;justify-content: center;}
#popular_items .container .popular_items_top {height: 200px;}
#popular_items .container .popular_items_top h2 {font-size: 24px;font-weight: 900;margin-top: 90px;margin-bottom: 0;}
#popular_items .container .popular_items_top .divider {text-align: center;}
#popular_items .container .popular_items_top .divider p{margin-top: 0;}
#popular_items .container .items_wrap {width: 100%;display: flex;justify-content: space-between; margin-bottom: 25px;}
#popular_items .container .items_wrap .item {width: 275px;height: 450px;display: flex;flex-flow: column;justify-content: flex-start;align-items: center;}
#popular_items .container .items_wrap .item a {text-decoration: none;}
#popular_items .container .items_wrap .item .item_name {text-align: center; font-size: 14px;font-weight: 600;}
#popular_items .container .items_wrap .item .img {width: 275px;height: 215px;margin-bottom: 5px;}
#popular_items .container .items_wrap .item .description {font-size: 14px;text-align: center;margin: 0;padding-top: 10px; }
#popular_items .container .items_wrap .item .price {font-weight: 900;font-size: 20px;color: black; margin-top: 10px; margin-bottom: 5px;}
#popular_items .container .items_wrap .item .price span {font-weight: 900;font-size: 14px; color: black}
#popular_items .container .items_wrap .item .price .new_price {color: red;}
#popular_items .container .items_wrap .item .price .price_old {color: #9ba6b3; font-weight: 900;font-size: 20px; margin-top: 10px; margin-bottom: 5px;text-decoration: line-through;}
#popular_items .container .items_wrap .item .price .price_new {color: red; font-weight: 900;font-size: 20px; margin-top: 10px; margin-bottom: 5px;}
#popular_items .container .items_wrap .item button {background-color: #0090ff;width: 130px;height: 40px;border-radius: 5px;color: white;font-size: 14px;margin-top: 10px; border: none;}
#popular_items .container .items_wrap .item button img {margin-right:10px;}

/*ADVANTAGE*/
#advantage {background-color: #ecf1f4;}
#advantage .container {height: 610px;display: flex;	flex-flow: column;}
#advantage .container .advantage_top {width: 100%;height: 170px;display: flex;flex-flow: column;align-items: center; margin-bottom: 20px;}
#advantage .container .advantage_top h2 {font-size: 24px;font-weight: 900;margin-top: 95px;margin-bottom: 0;}
#advantage .container .advantage_top .divider p{text-align: center; margin-top: 0px;}
#advantage .container .advantage_wrap {width: 100%;display: flex;justify-content: space-around;}
#advantage .container .advantage_wrap div {width: 285px;height: 280px;display: flex;flex-flow: column;justify-content: flex-start;align-items: center;}
#advantage .container .advantage_wrap div .img {max-width: 150px;height: 150px;background-repeat: no-repeat;margin-bottom: 5px;}
#advantage .container .advantage_wrap p {text-align: center;font-size: 14px;font-weight: 800;line-height: 1.5;}
#advantage .container .advantage_bottom{width: 100%;height: 170px;display: flex;justify-content: center;align-items: center;}
#advantage .container .advantage_bottom button {background-color: #f6b53f;width: 160px;height: 40px;border-radius: 5px;color: white;margin-bottom: 50px; font-size: 14px; border: none;}

/*HOW TO BUY*/
#how_to_buy {background: linear-gradient(to top, #ecf1f4, white)}
#how_to_buy .container {min-height: 455px;display: flex;flex-flow: column;}
#how_to_buy .container .how_to_buy_top {height: 150px;}
#how_to_buy .container .how_to_buy_top h2 {font-weight: 900;font-size: 26px;margin-top: 75px;margin-bottom: 0;}
#how_to_buy .container .how_to_buy_top .divider p {text-align: center;font-size: 14px;margin-top: 0;}
#how_to_buy .container .buy_wrap {height: 300px; width: 100%;display: flex;justify-content: space-around;}
#how_to_buy .container .buy_wrap .arrow {width: 32px;display: flex; align-items: center;}
#how_to_buy .container .buy_wrap .arrow img {height: 32px;width: 32px; transform: scale(1.3);padding-bottom: 60px;}
#how_to_buy .container .buy_wrap .buy1, 
#how_to_buy .container .buy_wrap .buy2, 
#how_to_buy .container .buy_wrap .buy3, 
#how_to_buy .container .buy_wrap .buy4 {height: 260px;width: 280px;display: flex;flex-flow: column;align-items: center;}
#how_to_buy .container .buy_wrap .buy1 .img {width: 150px;height: 150px;margin-top: 20px;background-image: url(../img/41.png), url(../img/01.png);background-repeat: no-repeat;background-position: bottom, top;}
#how_to_buy .container .buy_wrap .buy2 .img {width: 150px;height: 150px;margin-top: 20px;background-image: url(../img/42.png), url(../img/02.png);background-repeat: no-repeat;background-position: bottom, top;}
#how_to_buy .container .buy_wrap .buy3 .img {width: 150px;height: 150px;margin-top: 20px;background-image: url(../img/43.png), url(../img/03.png);background-repeat: no-repeat;background-position: bottom, top;}
#how_to_buy .container .buy_wrap .buy4 .img {width: 150px;height: 150px;margin-top: 20px;background-image: url(../img/44.png), url(../img/04.png);background-repeat: no-repeat;background-position: bottom, top;}
#how_to_buy .container .buy_wrap div p {font-weight: bold;text-align: center;font-size: 14px;}

/*FOOTER*/
footer .container {height: 265px;display: flex;flex-flow: column;}
footer .container .footer_info {width: 100%;display: flex;justify-content: space-between;margin-top: 30px;}
footer .container .footer_info div p {font-size: 12px;}
footer .container .footer_info div a {text-decoration: none;}
footer .container .footer_info h3 {font-size: 14px;font-weight: 900;text-transform: uppercase;margin-top: 20px;}
footer .container .footer_info p {font-size: 12px;}
footer .container .footer_info p span {font-size: 14px;font-weight: bold;}
footer .container .footer_info .footer_logo {width: 150px;display: flex;justify-content: center;align-items: center;} 
footer .container .footer_info .footer_logo .img {height: 73px;width: 127px;margin-top: -70px;}
footer .container .footer_info .about_company {width: 180px;margin-left: 30px;}
footer .container .footer_info .help {width: 190px;margin-left: 10px;}
footer .container .footer_info .service {width: 200px;}
footer .container .footer_info .questions {width: 200px; margin-right: 20px;}
footer .container .footer_info .questions .social {display: flex;flex-flow: column;}
footer .container .footer_info .questions .social .icons {width: 100%; display: flex;justify-content: space-between;}
footer .container .footer_info .questions .social .icons i {font-size: 30px; color:blue;}
footer .all_rights {height: 50px;width: 100%;display: flex;justify-content: center;align-items: center;background-color: #ecf1f4;}
footer .all_rights p {font-size: 11px; padding-bottom: 10px; color: #9aabb8}


